.profile,
.feed-main {
  .container {
    max-width: 900px;
  }
}
.post {
  img {
    border-radius: 50%;
    max-width: 60px;
  }
  .post-img {
    min-width: 100%;
    border-radius: 5px;
    max-height: 500px;
    object-fit: cover;
  }
}

.post-form {
  svg {
    width: 30px;
    cursor: pointer;
  }
  input,
  textarea {
    border: 0;
    box-shadow: none;
  }

  input:focus,
  textarea:focus {
    box-shadow: none;
  }
}

.search-container {
  scroll-margin-top: 5.4em;
}

li {
  cursor: pointer;
}

.edit-modal {
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 40%;
}

#option {
  font-family: Arial, Helvetica, sans-serif;
}
