$blue: #d1fd0d;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #fff9fb;
$red: #e83a3a;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$primary: $red;
$secondary: $pink;

$font-heading: "Poppins";
$font-paragraph: "Open sans";
