@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "typography";

.current {
  text-decoration: underline;
}

.navbar-toggler {
  border-color: $primary;
}
.navbar-toggler:focus {
  box-shadow: none;
}
a {
  text-decoration: none;
}
// index.html
.intro {
  background-image: url("../../images/intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;

  @media (max-width: 600px) {
    height: 40vh;
    background-position-y: -16em;
    background-position-x: -15em;
  }
}
.btn {
  min-width: 100px;
}

.about {
  h2 {
    max-width: 880px;
  }
}

.card {
  max-width: 250px;
  border: 1px solid $green;

  svg {
    height: 100px;
    width: 100px;
    color: $green;
  }
}

.card-container {
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

.form-container {
  form {
    max-width: 600px;
  }
}

.feed-main {
  max-width: 13;
  .container {
    max-width: 900px;
  }
}
.post {
  img {
    border-radius: 50%;
    max-width: 150px;
  }
}
