@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "typography";

.current {
  text-decoration: underline;
}

.navbar-toggler,
.navbar-toggler-icon {
  border-color: $primary;
}
a {
  text-decoration: none;
}

.intro {
  background-image: url("../../images/intro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 95vh;

  @media (max-width: 600px) {
    height: 40vh;
    background-position-y: -16em;
    background-position-x: -15em;
  }
}
.btn {
  min-width: 100px;
}

.about {
  h2 {
    max-width: 880px;
  }
}

.card {
  max-width: 300px;
  border: 2px solid $green;

  svg {
    height: 120px;
    width: 120px;
    color: $green;
  }
}

.card-container {
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

.form-container {
  form {
    max-width: 330px;
  }
}
